# Copy to .env.local and edit as needed
DATABASE_URL=${GEN_DOCKER_ENV_DB_URL}
DB_HOST_PORT=${GEN_DOCKER_DB_HOST_PORT}
API_HOST_PORT=${GEN_DOCKER_API_HOST_PORT}
WEB_HOST_PORT=${GEN_DOCKER_WEB_HOST_PORT}
ADMIN_HOST_PORT=${GEN_DOCKER_ADMIN_HOST_PORT}
PROXY_HOST_PORT=${GEN_DOCKER_PROXY_HOST_PORT}
VITE_API_BASE=${GEN_DOCKER_API_BASE_URL}
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

